*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-weight: bolder;
  }
body {
    background: linear-gradient(to right, #6aa773, #eea849);
    font-family: sans-serif;
    max-width: 1500px;
    font-size: 50px;
}

.container {
    background: linear-gradient(to right, #191b1a, #eea849);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container{
    background: linear-gradient(to right, #191b1a, #4ec398d8);
    max-width:1000px;
    width: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 0 20px 0 50px;
    font-family: Montserrat;
    outline: none;
    padding-right: 50px;
}
.words{
    color: #52885cd8;
    size: 1px;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}
a:hover{
    color:red;
}
.submitButton{
    border: none;
    margin-left: 2px;
    padding:8px 22px 12px 15px;
    border-radius: 8px;
    margin-top: 20px;
    font-weight: bold;
    color: #52885cd8;
}
button:hover{
    background-color:#546465c7;
    color: rgb(251, 250, 248);
}
.Label{
    font-size: 19px;
    color: #52885cd8;
    font-weight: bold;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Adjust layout for smaller screens */
    }
}
